body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0e0d35, #0098ea);
  font-family: 'Rahere Sans', sans-serif;
  display: flex;
  align-items: center;
  overflow: hidden;
  touch-action: manipulation;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.9;
}

.d {
  font-size: 25vh;
  font-weight: 800;
  text-shadow: -1.1vh 1.8vh 0 #000000;
  transform: rotate(-32.9deg);
  position: absolute;
  top: -9vh;
  left: 37.2vw;
}

.a {
  font-size: 34vh;
  font-weight: 800;
  text-shadow: -2vh 1.1vh 0 #000000;
  transform: rotate(-66.3deg);
  position: absolute;
  left: 20%;
  right: 34%;
  top: 8vh;
}

.content {
  position: relative;
  margin-top: 50vh;
  letter-spacing: 0.4vw;
}

.tonken-ad {
  position: relative;
  justify-content: center;
  font-size: 5vh;
  font-weight: 700;
  text-shadow: 0 0.4vh 0.25vh #0000007a;
  }

.made-to-improve {
  position: relative;
  font-size: 2.2vh;
  font-weight: 500;
  justify-content: center;
  text-shadow: 0 0.4vh 0.25vh #0000007a;
  }

.your-token {
  position: relative;
  font-size: 4.7vh;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0.4vh 0.25vh #0000007a;
}

.start {
  display: inline-block;
  background-color: #51b0e5;
  color: white;
  font-size: 6vh;
  font-weight: 700;
  padding: 3.6% 23%;
  border: none;
  border-radius: 22px;
  margin-top: 4vh;
  box-shadow: 0 0.5vh 0.7vh #000000c5;
  font-family: 'Rahere Sans', sans-serif;
  text-shadow: 0 0.2vh 0.25vh #0000007a;
}