body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0e0d35, #0098ea);
  font-family: 'Rahere Sans', sans-serif;
  display: flex;
  align-items: center;
  overflow: hidden;
  touch-action: manipulation;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.9;
}

.d {
  font-size: 24vh;
  font-weight: 800;
  text-shadow: -10px 20px 10px #000;
  transform: rotate(-32.9deg);
  position: absolute;
  top: -7vh;
  left: 40vw;
}

.a {
  font-size: 34vh;
  font-weight: 800;
  text-shadow: -15px 10px 10px #000;
  transform: rotate(-66.3deg);
  position: absolute;
  left: 25%;
  right: 45%;
  top: 12vh;
}

.content {
  position: relative;
  margin-top: 50vh;
  letter-spacing: 0.4vw;
}

.tonken-ad {
  position: relative;
  justify-content: center;
  font-size: 5vh;
  font-weight: 700;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  }

.made-to-improve {
  position: relative;
  font-size: 2.2vh;
  font-weight: 500;
  justify-content: center;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  }

.your-token {
  position: relative;
  font-size: 4.7vh;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.start {
  display: inline-block;
  background-color: #51b0e5;
  color: white;
  font-size: 64px;
  font-weight: 700;
  padding: 15px 40px;
  border: none;
  border-radius: 22px;
  margin-top: 4vh;
  box-shadow: 0px 4px 5px #000;
  font-family: 'Rahere Sans', sans-serif;
  letter-spacing: 0.4vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}